.cards {
  /* border: 2px solid red; */
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.imageBox {
  /* border: 2px solid blue; */
  overflow: hidden;
  width: 20rem;
  height: 13.6rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px goldenrod;
  margin-bottom: 10px;
  cursor: pointer;
}

.image {
  /* border: 2px solid blue; */
  width: 20rem;
  border-radius: 20px;
  cursor: pointer;
}

.image:hover {
  transform: scale(1.5);
  transition: 1s;
  overflow: hidden;
}
